<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<servlet>
		<servlet-name>ajax</servlet-name>
		<servlet-class>net.bnubot.webbot.server.WebBotServiceImpl</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ajax</servlet-name>
		<url-pattern>/ajax</url-pattern>
	</servlet-mapping>

</web-app>
